### Importación de datos

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [2]:
#Ingreso total de los precios de cada tienda
tienda_total1 = tienda["Precio"].sum()
print(f'El total de los precios en la primer tienda es {tienda_total1}')

tienda_total2 = tienda2["Precio"].sum()
print(f'El total de los precios en la primer tienda es {tienda_total2}')

tienda_total3 = tienda3["Precio"].sum()
print(f'El total de los precios en la primer tienda es {tienda_total3}')

tienda_total4 = tienda4["Precio"].sum()
print(f'El total de los precios en la primer tienda es {tienda_total4}')

El total de los precios en la primer tienda es 1150880400.0
El total de los precios en la primer tienda es 1116343500.0
El total de los precios en la primer tienda es 1098019600.0
El total de los precios en la primer tienda es 1038375700.0

# 2. Ventas por categoría

###calcular la cantidad de productos vendidos por categoría en cada tienda.

In [3]:
'''
Para calcular la cantidad de ventas por cada categoría en cada tienda es necesario
Agrupar agrupar las categorías por tienda y hacer la suma de la cantidad de coutas
que vendio cada producto en la tienda
'''
#Tienda 1
Ventas_Categoria = tienda.groupby('Categoría del Producto')['Cantidad de cuotas'].sum()
Ventas_Categoria.head(10)

Categoría del Producto
Artículos para el hogar     489
Deportes y diversión        796
Electrodomésticos           906
Electrónicos               1341
Instrumentos musicales      573
Juguetes                    872
Libros                      520
Muebles                    1446
Name: Cantidad de cuotas, dtype: int64

In [4]:
#Tienda 2
Ventas_Categoria2 = tienda2.groupby('Categoría del Producto')['Cantidad de cuotas'].sum()
Ventas_Categoria2.head(10)

Categoría del Producto
Artículos para el hogar     493
Deportes y diversión        720
Electrodomésticos           890
Electrónicos               1333
Instrumentos musicales      659
Juguetes                    876
Libros                      611
Muebles                    1265
Name: Cantidad de cuotas, dtype: int64

In [5]:
#Tienda 3
Ventas_Categoria3 = tienda3.groupby('Categoría del Producto')['Cantidad de cuotas'].sum()
Ventas_Categoria3.head(10)

Categoría del Producto
Artículos para el hogar     542
Deportes y diversión        873
Electrodomésticos           882
Electrónicos               1262
Instrumentos musicales      580
Juguetes                    937
Libros                      517
Muebles                    1408
Name: Cantidad de cuotas, dtype: int64

In [6]:
#Tienda 4
Ventas_Categoria4 = tienda4.groupby('Categoría del Producto')['Cantidad de cuotas'].sum()
Ventas_Categoria4.head(10)

Categoría del Producto
Artículos para el hogar     590
Deportes y diversión        786
Electrodomésticos           756
Electrónicos               1293
Instrumentos musicales      500
Juguetes                    921
Libros                      591
Muebles                    1392
Name: Cantidad de cuotas, dtype: int64

# 3. Calificación promedio de la tienda

In [7]:
calificacion_Promedio1 = tienda['Calificación'].mean()
print(f'Calificación promedio de la primer tienda {calificacion_Promedio1}')

calificacion_Promedio2 = tienda2['Calificación'].mean()
print(f'Calificación promedio de la segunda tienda {calificacion_Promedio2}')

calificacion_Promedio3 = tienda3['Calificación'].mean()
print(f'Calificación promedio de la tercera tienda {calificacion_Promedio3}')

calificacion_Promedio4 = tienda4['Calificación'].mean()
print(f'Calificación promedio de la cuarta tienda {calificacion_Promedio4}')

Calificación promedio de la primer tienda 3.976685036032217
Calificación promedio de la segunda tienda 4.037303942348453
Calificación promedio de la tercera tienda 4.048325561678677
Calificación promedio de la cuarta tienda 3.9957591178965224

# 4. Productos más y menos vendidos

In [9]:
#Primero ubicamos el valor de todos los productos menos vendidos
productoMenosVendido1 = Ventas_Categoria.min()
productoMenosVendido2 = Ventas_Categoria2.min()
productoMenosVendido3 = Ventas_Categoria3.min()
productoMenosVendido4 = Ventas_Categoria4.min()

#Segunda ubicamos el valor de todos los productos mas vendidos
productoMasVendido1 = Ventas_Categoria.max()
productoMasVendido2 = Ventas_Categoria2.max()
productoMasVendido3 = Ventas_Categoria3.max()
productoMasVendido4 = Ventas_Categoria4.max()

#Despues mostramos cuales fueron los productos menos y más vendidos
'''
Para hacerlo necesitamos primero hacer una validación dentro del dataset
Si el valor es igual al valor dentro del dataset se mostrará el producto
'''


#Ventas_Categoria[Ventas_Categoria == productoMasVendido1]
#Ventas_Categoria[Ventas_Categoria == productoMasVendido2]
#Ventas_Categoria[Ventas_Categoria == productoMasVendido3]
#Ventas_Categoria[Ventas_Categoria == productoMasVendido4]

'\nPara hacerlo necesitamos primero hacer una validación dentro del dataset\nSi el valor es igual al valor dentro del dataset se mostrará el producto\n'

# 5. Informe Final

4. Informe Final
Introducción
El propósito de este análisis es determinar a qué tienda debería vender el Sr. Juan, considerando factores clave como los ingresos, la distribución y popularidad de las categorías de productos, las calificaciones de los clientes, los productos más y menos vendidos y el costo de envío promedio por tienda. Para ello, se han realizado cálculos, análisis y visualizaciones que permiten identificar patrones y tomar una decisión informada.

Análisis de Datos y Visualizaciones
Costo de envío promedio: Bogotá tiene el costo de envío más bajo, seguido de Medellín y Cartagena. Cali es la más costosa en este aspecto.

Distribución de categorías: Muebles es la categoría más vendida.

Relación precio-costo de envío: No se observa una relación directa significativa en la muestra, pero los productos de mayor precio tienden a tener costos de envío más altos.

Ingresos y calificaciones: Analizar estos factores ayuda a identificar la tienda más rentable y con mayor satisfacción del cliente.

Conclusión y Recomendación
Bogotá destaca por su bajo costo de envío y una oferta equilibrada de productos, lo que puede traducirse en mayor competitividad y satisfacción para los clientes, además de mejores márgenes para el Sr. Juan.

Medellín tiene un costo de envío moderado y buena presencia en la categoría más vendida.

Cali resulta menos competitiva por su alto costo de envío.

Cartagena se ubica en un punto intermedio.

Recomendación:
Se recomienda que el Sr. Juan venda en la tienda de Bogotá, ya que ofrece el mejor balance entre costos logísticos y potencial de ventas, respaldado por los análisis y visualizaciones presentados.

Puedes copiar y pegar este contenido en un nuevo archivo .ipynb, agregando las celdas de código y markdown según corresponda. Así tendrás un notebook completo, integrado y listo para su presentación.